.backGroundColor{
    background: linear-gradient(115.91deg, #0B2368 28.13%, #0094EB 145.53%);
}
.hero-bg{
    background-image: url('./assests/new\ 1.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-text{
    line-height: 78px;
}

@media screen and (max-width: 700px) {
    .whyus{
        flex-direction: column;
    }
}
.whyus-text{
    color: #0B2368;
    ;
}
.icon-text{
    color: rgba(255, 255, 255, 0.8);
}
.testimonalBg{
    background-image: url('./assests/testimonalBg.png');
    background-size: cover;
    background-repeat: no-repeat;
}